.mainlogin{
    display: flex;
    justify-content: start;
   margin-left: 150px;
   
   
}
.container{
    background-color:white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    margin-top: 200px;
    padding-bottom: 30px;
    margin: 50px;
    
}
body{
    background-color: #F2EFE4;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.inputs{
    /* margin-top: 5px; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    
    border-radius: 6px;
}
.input input{
    
    width: 400px;
    height: 40px;
    margin: 50px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    margin: 60px auto;
}

.btn{
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    border-radius: 50px;
}
button{
    margin: 0 40%;
}
.newimage{
    width: 500px;
    height: 553px;
    
    background-color: rgb(62, 58, 58);
    background-image: url(/loginform/src/Components/Assets/divimage.jpeg);
    margin-top: 50px;
    margin-left: -50px;
}
.newimage h1, p{
    color: white;
    text-align: center;
}
p{
    font-size: 15px;
}


